@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

body {
  background: url("../assets/background/blob-haikei.svg") center center/cover
    no-repeat;
  color: #fff;
  min-height: 100vh;
}

.main-content {
  transition: 0.3s ease;
  transition-property: opacity, filter, transform;
}

.page-transition {
  filter: blur(10px);
  opacity: 0;
}
